body
{
    margin: 0px;
    background-color: darkgray;
    font-family: 'Oswald', sans-serif;
}


h1
{
    margin-left: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px;
}

.title 
{
    font-size: 1.3em;
    color:whitesmoke;
    border-bottom: 2px solid whitesmoke;
    box-shadow:rgba(171, 213, 250,0.8) 0px 5px 15px;
    width: 100%;
    text-shadow:rgba(171, 213, 250,0.8) 2px 3px 4px;
}

.push
{
    font-size: .4em;
    color:rgb(171, 213, 250);
    text-shadow:rgba(171, 213, 250,0.8) 0px 0px 0px;
}

.main-nav
{
    color:whitesmoke;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 0px;
    padding: 0px;
}

.primary
{
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: rgba(171, 213, 250,0.8) 1px 2px 3px;
    transform:rotate(-2deg);
    /*transform: scale(1, 2);*/
}


a
{
    color: whitesmoke;
    text-decoration: none;
}

.container
{
    display: grid;
    grid-gap: 15px;
    height: 30rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10px;
    margin-right: 10px;
}

.zone 
{
    cursor:pointer;
    text-align: center;
    border-radius: 10px;
    border:1px solid #bbb;
    background-color: rgb(171, 213, 250);
    transition: all .3s linear;
    display: flex;
    justify-items: end;
    min-height: 2em;
    box-shadow: whitesmoke 5px 5px 15px;
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 4px;
    height: 1px;
    background: transparent;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: whitesmoke
}


.text
{
    text-align: left;
    color: whitesmoke;
    padding: 1.7em;
    line-height: 1.5;
    font-size: smaller;
}

.text .item
{
    color: whitesmoke;
    padding: 0em;
    width:100%;
}

.text ul
{
    margin-top: 3em;
    border:1px solid whitesmoke;
    padding: 3em;
    font-size: smaller;
}

.text .intro
{
    text-decoration: underline;
}

.zone:hover 
{
    background-color: rgb(164, 212, 255);
    box-shadow: whitesmoke 5px 5px 15px;
}


footer
{
    color:transparent;
    border-top: 2px solid whitesmoke;
    box-shadow:rgba(171, 213, 250,0.5) 0px -9px 10px;
    margin-top: 60px;
    width: 100%;
    transition: height 1s;
    text-align: center;
}

.email
{
    padding: 2em;

    margin: 2em;
}

.website
{
    padding: 2em;
}

.info
{
    padding: 2em;
}

.sticky
{
    position: fixed;
    bottom: 0;
}

/*
.tooltip
{
    border-bottom: 1px dotted;
    display: inline-block;
    position: relative;
}


.tooltip .tooltip_text
{
    background-color: black;
    position: absolute;
    color: white;
    border-radius: 6px;
    width: 200px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    visibility: hidden;
}

.tooltip:hover .tooltip_text{
    visibility: visible;
}*/